.terminal-line{
    margin:0;
    padding:0;
}
.terminal {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 83%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(83%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
    border-radius: 20px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 500px;
    color: #F6F6FF;
    font-family: monospace;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 12px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px rgba(217, 215, 255, 0.85) inset, 2px 2px 16px #000;
}
.terminal-cursor{
    visibility:visible;
}
.terminal-cursor-hidden{
    visibility:hidden;
}
.terminal-input{
    white-space:pre-wrap;
}
.terminal-result-line-server{
    margin-left:10px;
}

